form {
  border: 2px solid;

  width: 250px;
  padding: 10px;
  background-color: aquamarine;
  border: solid 3px;
  border-color: rgb(20, 172, 146);
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  display: block;
  margin-bottom: 10px;
}
.btnSubm {
  border: solid 3px;
  border-color: rgb(20, 172, 146);
  background-color: rgb(250, 174, 82);
}

.btnSubm:hover {
  border-color: rgb(9, 56, 48);
  background-color: rgb(18, 124, 34);
}
