.li {
  font-size: 18px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.spanName {
  margin-right: 15px;
}

.spanNumber {
  margin-right: 15px;
}

.btnDelete {
  border: solid 3px;
  border-color: rgb(20, 172, 146);
  background-color: rgb(250, 174, 82);
}
.btnDelete:hover {
  border-color: rgb(9, 56, 48);
  background-color: rgb(18, 124, 34);
}
.btnDelete:focus {
  border-color: rgb(9, 56, 48);
  background-color: rgb(18, 124, 34);
}
